<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="info">Hoi!</div>

    <a id="login" style="display: none;" href="https://discord.com/oauth2/authorize?client_id=931202912888164474&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fcallback&scope=guilds+identify">Identify Yourself</a>
    <script>
        URL_QUERY = new URLSearchParams(window.location.search);


        window.onload =  async () => {
            if(document.cookie.includes("access_token")!==null && await fetch("/api/oauth2").status===200){
                console.log("You are logged in!");
            }

            let _response = await fetch(`/api/token/?code=${URL_QUERY.get("code")}`);
            data = await _response.json();
            console.log(data.access_token);
            data.access_token?document.cookie = `access_token=${data.access_token}; expires=Thu, 18 Dec 2026 12:00:00 UTC; path=/`:null;
            }
       
    </script>
</body>
</html>